[absolute-settings*="top-0px"] {
  top:0px;
}

[absolute-settings*="bottom-0px"] {
  bottom:0px;
}

[absolute-settings*="left-0px"] {
  left:0px;
}

[absolute-settings*="right-0px"] {
  right:0px;
}

[absolute-settings*="width-100"] {
  width:100%;
}

[absolute-settings*="height-100"] {
  height:100%;
}
