.btn {
    padding: 8px 29px;
    box-sizing: border-box;
    border:0px;
    display:inline-block;
}

.btn-large {
    padding: 16px 58px;
}

.btn-grey {
    background: #f5f5f7;
}

.btn-white {
    background: #ffffff;
}

.btn-blue {
    background: #1b25aa;
	color:#fff;
}
