body {
  color:#3c3c3b;
}

.background-white {
	background:#ffffff;
}

.background-light-grey {
	background:#f4f4f4;
}

.background-black {
	background:#000000;
}

.background-purple {
	background:#793cbd;
}

.background-transparent {
	background:transparent;
}

.color-white {
	color:#ffffff;
}

.fade-in-on-scroll {
    transition:opacity 0.2s linear;
}

.fade-in-on-scroll,
.opacity-0 {
    opacity: 0;
}

.opacity-10 {
	opacity:0.1;
}

.opacity-20 {
	opacity:0.2;
}

.opacity-30 {
	opacity:0.3;
}

.opacity-40 {
	opacity:0.4;
}

.opacity-50 {
	opacity:0.5;
}

.opacity-60 {
	opacity:0.6;
}

.opacity-70 {
	opacity:0.7;
}

.opacity-80 {
	opacity:0.8;
}

.opacity-90 {
	opacity:0.9;
}

.fade-in-on-scroll-active {
	opacity:1;
}
