*:hover > .parent-hover-display-block,
.display-block {
	display:block;
}

.cursor-pointer {
	cursor:pointer;
}

.relative {
  position:relative;
}

.absolute {
  position:absolute;
}

.margin-auto {
  margin:auto;
}

.first-heading-no-margin-top > *:first-child {
  margin-top:0px;
}

.text-uppercase {
  text-transform:uppercase;
}

.box-sizing-border-box {
  box-sizing:border-box;
}

.overflow-auto {
  overflow:auto;
}

.overflow-visible {
  overflow:visible;
}

.overflow-hidden {
  overflow:hidden;
}

.margin-left-auto {
  margin-left:auto;
}

.text-align-right {
  text-align:right;
}

.text-align-center {
  text-align:center;
}

.text-align-left {
  text-align:left;
}

@keyframes animation-fade-slide {
  0% {
    top:29px;
    opacity:0;
  }
  100% {
    top:0px;
    opacity:1;
  }
}

.animation-fade-slide {
    animation: animation-fade-slide 0.3s linear forwards;
}
