@mixin responsive-partial-display($view-point)
{

  .on-at-#{$view-point} {
    display:inherit;
  }

  .off-at-#{$view-point} {
    display:none;
  }

  .inline-block-at-#{$view-point} {
    display:inline-block;
  }

  .table-at-#{$view-point} {
    display:table;
  }
  
  .table-at-#{$view-point} > .col {
      display: table-cell;
      float: none;
      vertical-align:top;
  }

  .table-at-#{$view-point} > .col.col-bottom {
      vertical-align: bottom;
  }

  .table-at-#{$view-point} > .col.col-middle {
      vertical-align: middle;
  }

  .table-fixed-at-#{$view-point} {
    display:table;
    table-layout: fixed;
  }

}
